.App {
	font-family: sans-serif;
	text-align: center;
}
.card {
	height: 280px;
	width: 450px;
	border: none;
	background: red;
	border-radius: 10px;
	box-shadow: 50px 50px 0px 10px rgb(230, 227, 230);
}
.comp {
	text-align: right;
	display: flex;
	gap: 0.55rem;
	justify-content: center;
	align-items: center;
	margin: auto;
	position: relative;
	top: 150px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
.num {
	text-align: center;
	font-family: OCR A, monospace;
	font-weight: 900;
	font-size: 24px;
	border: 1px solid;
}
